@charset "UTF-8";

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "lato";
}

html,body{
    height: 100%;
}

header{
    background-color: #5099F8;
}

.center{
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    padding: 6px 0 12px 0;
}

.clear{
    clear: both;
}

.logo{
    float: left;
    padding-top: 2px;
}

.logo h2{
    color: white;
    font-size: 29px;
    padding-left: 2%;
}

.form-container-1{
    float: right;
    position: relative;
    right: 50px;
}

.form-element{
    display: inline-block;
    padding-top: 2px;
}

.form-element p{
    color: white;
    font-size: 13px;
    margin-left: 8px;
}

.form-element input{
    outline: 0;
    margin-left: 8px;
    border: 0;
}

.form-element input[type="submit"]{
    background-color: #4491f5;
    padding: 2px 4px;
    margin-left: 10px;
    color: white;
    border: 1px solid #2a7eeb;
    cursor: pointer;
}

.container-main{
    background: linear-gradient(white, #d3d8e8);
}

.img-pessoas{
    padding-top: 34px;
    float: left;
    width: 65%;
}

.form-cadastro{
    padding-top: 34px;
    width: 33%;
    float: right;
}

.form-cadastro h2{
    font-size: 30px;
}

.form-cadastro h3{
    margin-top: 5px;
    font-size: 19px;
    font-weight: normal;
    margin-bottom: 12px;
}

.w50{
    display: inline-block;
    width: 49%;
    margin: 0;
    margin-bottom: 8px;
}
.w50 input{
    width: 100%;
    padding: 8px 0;
    font-size: 15px;
    padding-left: 8px;
    border: 1px solid #4a96f8;
    border-radius: 5px;
}

.w100{
    width: 100%;
    margin-bottom: 8px;
}

.w100 input{
    width: 99%;
    padding: 8px 0;
    font-size: 15px;
    padding-left: 8px;
    border: 1px solid #4a96f8;
    border-radius: 5px;
}

.w100 h2{
    font-weight: normal;
    font-size: 21px;
    margin-bottom: 12px;
}

.w100 input[type="date"]{
    width: 40%;
}

.input-radio{
    float: left;
    margin-left: 10px;
    font-size: 19px;
    margin-bottom: 15px;
}

.submit input{
    width: 100%;
    max-width: 200px;
    background-color: #639e4d;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #568a45;
    cursor: pointer;
    margin-bottom: 40px;
}

.idiomas{
    margin-top: 25px;
}

.idiomas ul li{
    display: inline;
    padding-left: 10px;
}

.idiomas ul li a{
    font-size: 12px;
    text-decoration: none;
    color: rgb(51, 82, 148);
}

.idiomas ul li a.first{
    color: gray;
}

.listra{
    padding-top: 8px;
    border-bottom: 1px solid #ccc;
}

.oferecimentos-rodape {
    margin-top: 70px;
}

.oferecimentos-rodape ul li{
    display: inline;
    padding-right: 15px;
}

.oferecimentos-rodape ul li a{
    font-size: 12px;
    text-decoration: none;
    color: rgb(51, 82, 148);
}

@media screen and (max-width:768px){
    .logo{
        float: none;
        text-align: center;
    }

    .form-container-1{
        float: none;
        text-align: center;
        right: 0;
    }

    .form-element{
        display: block;   
    }

    .form-element input{
        width: 100%;
        max-width: 350px;
    }

    .form-element input[type="submit"]{
        width: 100%;
        max-width: 150px;
        margin-top: 10px;
    }
}