@charset "UTF-8";

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "lato";
}

html,body{
    height: 100%;
}

header{
    background-color: #5099F8;
}

.center{
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    padding: 6px 0 12px 0;
}

.clear{
    clear: both;
}

.logo{
    float: left;
    padding-top: 2px;
}

.logo h2{
    color: white;
    font-size: 29px;
    padding-left: 2%;
}

.form-container-1{
    float: right;
    position: relative;
    right: 50px;
}

.form-element{
    display: inline-block;
    padding-top: 2px;
}

.form-element p{
    color: white;
    font-size: 13px;
    margin-left: 8px;
}

.form-element input{
    outline: 0;
    margin-left: 8px;
}

.form-element input[type="submit"]{
    background-color: #4a96f8;
    padding: 2px 4px;
    margin-left: 10px;
    color: white;
    border: 1px solid #3188fa;
    cursor: pointer;
}